In [39]:
import pandas as pd

df = pd.read_csv(r"D:\marketing_campaign_project\data\raw\marketing_and_product_performance.csv")

Create Target

In [40]:
df["Conversion_Rate"] = df["Conversions"] / (df["Clicks"] + 1)

df["Customer_Response"] = ((df["Conversion_Rate"] > 0.05) & (df["ROI"] > 1)).astype(int)

Drop ID columns

In [41]:
id_cols = [c for c in df.columns if "ID" in c]
df = df.drop(columns=id_cols)

Handle missing

In [42]:
df = df.fillna(0)

In [43]:
df.to_csv("D:/marketing_campaign_project/data/processed/cleaned_data.csv")

In [44]:
df.head()

,Budget,Clicks,Conversions,Revenue_Generated,ROI,Subscription_Tier,Subscription_Length,Discount_Level,Units_Sold,Bundle_Price,Customer_Satisfaction_Post_Refund,Common_Keywords,Conversion_Rate,Customer_Response
0,41770.45,4946,73,15520.09,1.94,Premium,4,43,34,433.80,4,Affordable,0.014756,0
1,29900.93,570,510,30866.17,0.76,Premium,4,28,97,289.29,2,Innovative,0.893170,0
2,22367.45,3546,265,32585.62,1.41,Basic,9,51,160,462.87,4,Affordable,0.074711,1
3,29957.54,2573,781,95740.12,3.32,Premium,32,36,159,334.16,1,Durable,0.303419,1
4,36277.19,818,79,81990.43,3.53,Standard,29,20,52,371.67,2,Affordable,0.096459,1